+parallax({
	img: 'parallax-call-to-action-01',
	innerClass: 'section-lg parallax-dark context-dark'
}).section
	.container
		.row.row-20.align-items-center
			.col-md-9.col-xl-10.text-center.text-md-left
				h3: span.small Quality primary education at an affordable price
			.col-md-3.col-xl-2.text-center.text-md-right
				a.button.button-less.button-primary(href= links.contacts) Get a quote