section.section.section-xxs.bg-third.text-center.context-dark.box-counter-wrap
	.container
		.row.row-30
			.col-6.col-md-3
				// Box counter
				article.box-counter
					.box-counter-main
						.counter  18
					p.box-counter-title Years of experience

			.col-6.col-md-3
				// Box counter
				article.box-counter
					.box-counter-main
						.counter 17
					p.box-counter-title New Students

			.col-6.col-md-3
				// Box counter
				article.box-counter
					.box-counter-main
						.counter 26
					p.box-counter-title QUALIFIED teachers

			.col-6.col-md-3
				// Box counter
				article.box-counter
					.box-counter-main
						.counter 12
					p.box-counter-title Total groups