+parallax({
	img: 'parallax-about-us-01',
	innerClass: 'section-xl parallax-dark context-dark text-center'
}).section
	.container
		.box-about
			h2.big-title opening the world
			h3.text-uppercase.offset for every child
			p With improved coordination and thinking the world begins to open up for preschoolers. Our program introduces language, math, science, foreign languages, and social skills in a natural sequence to nourish learning one step at a time, with individual attention suited to your child's unique needs.
			a.button.button-primary.offset-button(href='#') Read more
