section.section.section-lg.bg-gray-2.text-center
	.container
		h2 what our clients say
		.testimonial-wrap
			.row.row-50.justify-content-center
				.col-sm-10.col-md-6.col-xl-4
					+testimonial({
						image: 'testimonial-01-136x149',
						text: 'I am very satisfied with the programs of PreSchool. Their teachers successfully combine elements of traditional education for preschoolers with entertainment.',
						name: 'Jane Wilson',
						office: 'Housewife'
					})
				.col-sm-10.col-md-6.col-xl-4
					+testimonial({
						image: 'testimonial-02-136x149',
						text: 'You gave my kids a great start at school. Knowing all their letter sounds meant reading came easily and they have all flourished. Thank you for all you’ve done!',
						name: 'Sam Peterson',
						office: 'Fitness Coach'
					})
				.col-sm-10.col-md-6.col-xl-4
					+testimonial({
						image: 'testimonial-03-136x149',
						text: 'I would recommend PreSchool to anyone looking for quality, well-resourced childcare with top-notch staff that will love, nurture, and look after your child.',
						name: 'Linda Gray',
						office: 'Sales Manager'
					})
