section.section.bg-gray-2.section-xs
	.container
		.row.row-30.row-list-bordered.align-items-center
			.col-sm-3: a.brands(href='#'): +png('brands-01-108x70')
			.col-sm-3: a.brands(href='#'): +png('brands-02-111x75')
			.col-sm-3: a.brands(href='#'): +png('brands-03-95x86')
			.col-sm-3: a.brands(href='#'): +png('brands-04-111x76')