section.section.swiper-container.swiper-slider.swiper-modern(data-loop='true' data-autoplay='5500' data-simulate-touch="false" data-slide-effect='fade')
  .swiper-wrapper.text-center
    .swiper-slide.swiper-slide-1.context-dark( data-slide-bg='images/swiper-default-01.jpg' )
      .swiper-slide-caption.section-lg
        .container
          h2(style='overflow: hidden;'): span(style='display: block' data-caption-animate='fadeGel' data-caption-delay='100') better learning environment
          h1(style='overflow: hidden;'): span(style='display: block' data-caption-animate='fadeGel' data-caption-delay='150') helping kids grow
          h4(data-caption-animate='fadeGel' data-caption-delay='300') we provide amazing development opportunities
          a.button.button-primary(href='#' data-caption-animate='fadeInUp' data-caption-delay='500') Read more
    .swiper-slide.swiper-slide-2.context-dark( data-slide-bg='images/swiper-default-02.jpg' )
      .swiper-slide-caption.section-lg
        .container
          h2(style='overflow: hidden;'): span(style='display: block' data-caption-animate='fadeGel' data-caption-delay='100') quality education for
          h1(style='overflow: hidden;'): span(style='display: block' data-caption-animate='fadeGel' data-caption-delay='200') children’s success
          h2(style='overflow: hidden;'): span.big-title(style='display: block' data-caption-animate='fadeGel' data-caption-delay='300') since 1999
          a.button.button-primary(href='#' data-caption-animate='fadeInUp' data-caption-delay='300') Read more
    .swiper-slide.swiper-slide-1.context-dark( data-slide-bg='images/swiper-default-03.jpg' )
      .swiper-slide-caption.section-lg
        .container
          h2(style='overflow: hidden;'): span(style='display: block' data-caption-animate='fadeGel' data-caption-delay='100') a variety of
          h1(style='overflow: hidden;'): span(style='display: block' data-caption-animate='fadeGel' data-caption-delay='150') Preschool
          h2(style='overflow: hidden;'): span.big-title(style='display: block' data-caption-animate='fadeGel' data-caption-delay='300') Programs
          a.button.button-primary(href='#' data-caption-animate='fadeInUp' data-caption-delay='500') Read more

  // Swiper Pagination
  .swiper-pagination


  // Swiper Navigation
  .swiper-button-prev
  .swiper-button-next