footer.footer-classic.context-dark.parallax-container(data-parallax-img='images/bg-image-01-1920x390.jpg')
	.parallax-content
		.section-sm
			.container
				.row.row-30
					.col-sm-6.col-lg-3
						.footer-classic-item
							h4 About us
							p PreSchool provides the best learning opportunities and activities that increase children’s potential.
							ul.list-inline.list-inline-xs.list-inline-middle
								li: a.icon-square.fa-instagram(href='#')
								li: a.icon-square.fa-facebook-f(href='#')
								li: a.icon-square.fa-twitter(href='#')
								li: a.icon-square.fa-google-plus(href='#')
					.col-sm-6.col-lg-3
						.footer-classic-item
							h4 opening Hours
							.list-terms
								dl
									dt Monday-Friday:
									dd 9am to 5pm
								dl
									dt Saturday:
									dd 10am to 2pm
								dl
									dt Sunday:
									dd 9am to 5pm
					.col-sm-6.col-lg-3
						.footer-classic-item
							h4 Quick links
							ul.list-link
								li: a(href='index.html') Home
								li: a(href=links.media) Media
								li: a(href='math-class.html') Classes
								li: a(href='careers.html') Careers
								li: a(href='overview.html') About Us
								li: a(href=links.contacts) Contact Us
								li: a(href='gallery.html') Gallery
					.col-sm-6.col-lg-3
						.footer-classic-item
							h4 Contacts
							ul.list-contacts
								li.centered
									span.icon.icon-lg.icon-secondary.mdi.mdi-cellphone-android
									a.link-phone(href='tel:#') +1 (409) 987–5874
								li.centered
									span.icon.icon-lg.icon-secondary.mdi.mdi-email-outline
									a(href='mailto:#') info@demolink.org
								li
									span.icon.icon-xl.icon-secondary.mdi.mdi-map-marker
									a(href='#') Washington, USA 6036 Richmond hwy., Alexandria, VA, 2230

		.footer-classic-bottom
			.container
				+rights