section.section.section-sm.bg-default
	.container
		.row.align-items-end.row-30
			.col-lg-5
				.block-brand-modern
					.block-brand-modern-item
						a(href='index.html'): +png('logo-default-105x47')
					.block-brand-modern-item
						p PreSchool provides learning opportunities
							br
							| that increase children’s potential.
			.col-lg-7
				ul.list-address
					li: dl
							dt: span.heading-5 E-mail
							dd: a(href='mailto:#') info@demolink.org
					li: dl
							dt: span.heading-5 Phone
							dd: h6
								a(href='tel:#') +1 (409) 987–5874
					li: dl
							dt: span.heading-5 Address
							dd: a(href='#') 6036 Richmond hwy., Alexandria, VA, 2230

footer.footer-modern.context-dark
	.container
		+rights