-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Lato:400,700%7CPoppins:300,400,500,600,700",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-130x58'},
			big: { normal: 'logo-big-269x141'},
			inverse: { normal: 'logo-inverse-130x58'},
			name: 'PreSchool '
		},
		links = {
		about: 'about-us.html',
		careers: 'careers.html',
		contacts: 'contact-us.html',
		services: 'services.html',
		singleServices: 'construction.html',
		media: 'media.html',
		team: 'our-team.html',
		post: 'media-post.html',
		projects: 'projects.html',
		singleProject: 'single-project.html',
		getTemplate:'#get-template',
		videoYoutube: 'https://youtu.be/nNdwLsUsQkQ'
		},
		projectText = {
		titles: [
		'creative fun',
		'arts & crafts',
		'technology & informatics',
		'geography for children',
		'drawing activities',
		'summer camp'
		],
		texts: [
		'We have an amazingly wide variety of activities for your kids.',
		'We have an amazingly wide variety of activities for your kids.',
		'We have an amazingly wide variety of activities for your kids.',
		'We have an amazingly wide variety of activities for your kids.',
		'We have an amazingly wide variety of activities for your kids.',
		'We have an amazingly wide variety of activities for your kids.'
		]
		},
		colors = {
		primary: '#fb8957'
		},
		menu = [
		{
		title: 'Home',
		category: 'home',
		link: 'index.html'
		},
		{
		title: 'Classes',
		category: 'classes',
		link: '#',
		dropdown: [
		{title: 'Math Class'},
		{title: 'Music Class'},
		{title: 'Painting Class'},
		{title: 'Dance Class'}
		]
		},
		{
		title: 'About Us',
		category: 'about-us',
		link: '#',
		dropdown: [
		{ title: 'Overview' },
		{ title: 'Our History' },
		{ title: 'Our Teachers' },
		{ title: 'Testimonials' }
		]
		},
		{
		title: 'Gallery',
		category: 'gallery'
		},
		{
		title: 'Pages',
		category: 'pages',
		link: '#',
		megamenu: [
		{
		title: 'Pages 1',
		list: [
		{title: 'Math Class'},
		{title: 'Music Class'},
		{title: 'Painting Class'},
		{title: 'Dance Class'},
		{ title: 'Overview' },
		{ title: 'Our History' },
		{ title: 'Our Teachers' },
		{ title: 'Testimonials' }
		]
		},
		{
		title: 'Pages 2',
		list: [
		{ title: 'Gallery' },
		{ title: 'Careers' },
		{ title: 'FAQ' },
		{ title: 'Media' },
		{ title: 'Media Post' }
		]
		},
		{
		title: 'Pages 3',
		list: [
		{ title: 'Coming Soon' },
		{ title: '503' },
		{ title: '404' },
		{ title: 'Maintenance' },
		{ title: 'Privacy policy' },
		{ title: 'Contact Us'},
		{ title: 'Search results' }
		]
		},
		{
		title: 'Elements',
		list: [
		{ title: 'Typography' },
		{ title: 'Forms' },
		{ title: 'Buttons' },
		{ title: 'Progress bars' },
		{ title: 'Tabs and accordions' },
		{ title: 'Tables' },
		{ title: 'Grid System' }
		]
		}
		]
		},
		{
		title: 'Media',
		category: 'media',
		dropdown: [
		{
		title: 'Media Post'
		}
		]
		},
		{
		title: 'Contact Us',
		category: 'contact-us'
		}
		];
